@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root {
    --Soft-Cyan: hsl(174, 77%, 80%);
    --Strong-Cyan: hsl(174, 86%, 45%);
    --Light-Grayish-Red: hsl(14, 92%, 95%);
    --Light-Red: hsl(15, 100%, 70%);
    --Pale-Blue: hsl(226, 100%, 87%);
    --White: hsl(0, 0%, 100%);
    --Very-Pale-Blue: hsl(230, 100%, 99%);
    --Light-Grayish-Blue: hsl(233, 69%, 90%);
    --Light-Grayish-Blue--Two: hsl(223, 50%, 87%);
    --Grayish-Blue: hsl(225, 20%, 60%);
    --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

wrapper {
 text-align: center;
}

.circle {
    margin-bottom: 10rem;
    z-index: -3;
    position: absolute;
    top: 2rem;
    margin-left: -7.5rem;
    width: 240px;
    height: 240px;

}

.title {
    color: var(--Dark-Desaturated-Blue);
    margin-top: 80px;
}

.sign-up {
    color: var(--Grayish-Blue);
    margin-top: 10px;
    margin-bottom: 90px;
    font-size: 1.4rem;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.pageviews {
    text-transform:uppercase; 
    color: var(--Grayish-Blue);
    font-size: 1.2rem;
    letter-spacing: .2rem;
    font-weight: 700;
    margin-top: 9rem;
}

.slidecontainer {
    width: 100%; 
  }

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    background: var(--Strong-Cyan);
    border-radius: 5px;  
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    background: var(--Strong-Cyan);
    background-image: url('images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:0px 20px 40px var(--Strong-Cyan); 
  }

  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
    cursor: pointer;
    
  }

  .slider::-webkit-slider-thumb:active {
    cursor: grabbing;
    filter: brightness(85%);
    background: var(--Strong-Cyan);
  }

  .slider:active {
    background: var(--Strong-Cyan);
  }

.dollar {
    color: var(--Dark-Desaturated-Blue);
    font-weight: 800;
    font-size: 2rem;
}
.cost {
    color: var(--Grayish-Blue);
    letter-spacing: .1rem;
}

.billing {
    width: 100%;
    height: 2rem;
    color: var(--Grayish-Blue);
    margin-top: 3rem;
    font-size: 1.2rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.monthly {
    margin-right: 2rem;
}

.yearly {
    margin-left: 2rem;
}
.discount {
    color:var(--Light-Red);
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.mini {
    -webkit-appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: inline;
    cursor: pointer;
    outline: none;
    border-radius: 3rem;
    background: var(--Light-Grayish-Blue);
    width:50px;
    padding: .5rem;
}

.mini::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: white;
}

.list ul {
    color: var(--Grayish-Blue);
    list-style-image: url('images/icon-check.svg');
    list-style-position: inside;
    text-align: center;
    justify-content: center;
    padding-inline-start: 0rem;
    margin-bottom: 2rem;
}

.list li  {
    padding: 0.8rem;
}

.btn {
    display: block;
    border-radius: 4rem;
    background: var(--Dark-Desaturated-Blue);
    color: var(--Pale-Blue);
    margin: auto;
    min-height: 3rem;
    max-width: 15rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 1.3rem;
    padding-bottom: -.2rem;
}