@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root {
    --Soft-Cyan: hsl(174, 77%, 80%);
    --Strong-Cyan: hsl(174, 86%, 45%);
    --Light-Grayish-Red: hsl(14, 92%, 95%);
    --Light-Red: hsl(15, 100%, 70%);
    --Pale-Blue: hsl(226, 100%, 87%);
    --White: hsl(0, 0%, 100%);
    --Very-Pale-Blue: hsl(230, 100%, 99%);
    --Light-Grayish-Blue: hsl(233, 69%, 90%);
    --Light-Grayish-Blue--Two: hsl(223, 50%, 87%);
    --Grayish-Blue: hsl(225, 20%, 60%);
    --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

wrapper {
 text-align: center;
}

.circle {
    margin-bottom: 10rem;
    z-index: -3;
    position: absolute;
    top: 2rem;
    margin-left: -7.5rem;
    width: 240px;
    height: 240px;

}

.title {
    color: var(--Dark-Desaturated-Blue);
    margin-top: 80px;
}

.sign-up {
    color: var(--Grayish-Blue);
    margin-top: 10px;
    margin-bottom: 90px;
    font-size: 1.4rem;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.pageviews {
    text-transform:uppercase; 
    color: var(--Grayish-Blue);
    font-size: 1.2rem;
    letter-spacing: .2rem;
    font-weight: 700;
    margin-top: 9rem;
    padding-right: 2rem;
}

.number {
    padding-right: .5rem;
}

.slidecontainer {
    width: 100%; 
  }

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    background: linear-gradient( to right, var(--Soft-Cyan) 0 50%, var(--Light-Grayish-Blue) 0 100% );
    border-radius: 5px;  
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    background: var(--Strong-Cyan);
    background-image: url('images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:0px 20px 40px var(--Strong-Cyan); 
  }

  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
    cursor: pointer;
    
  }

  .slider::-webkit-slider-thumb:active {
    cursor: grabbing;
    filter: brightness(85%);
    background: var(--Strong-Cyan);
  }

  .slider:active {
    background: var(--Strong-Cyan);
  }

.dollar {
    color: var(--Dark-Desaturated-Blue);
    font-weight: 800;
    font-size: 2rem;
}
.cost {
    color: var(--Grayish-Blue);
    letter-spacing: .1rem;
}

.billing {
    width: 100%;
    height: 2rem;
    color: var(--Grayish-Blue);
    margin-top: 3rem;
    font-size: 1.2rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.monthly {
    margin-right: 2rem;
}

.yearly {
    margin-left: 2rem;
}

.discount {
    color:var(--Light-Red);
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.dis {
    display:none;
}

.mini {
    -webkit-appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: inline;
    cursor: pointer;
    outline: none;
    border-radius: 3rem;
    background: var(--Light-Grayish-Blue);
    width:50px;
    padding: .5rem;
}

.mini::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: white;
}


.list ul {
    color: var(--Grayish-Blue);
    list-style-image: url('images/icon-check.svg');
    list-style-position: inside;
    text-align: center;
    justify-content: center;
    padding-inline-start: 0rem;
    margin-bottom: 2rem;
}

.list li  {
    padding: .8rem;
}


.btn {
    display: block;
    border-radius: 4rem;
    background: var(--Dark-Desaturated-Blue);
    color: var(--Pale-Blue);
    margin: auto;
    min-height: 3rem;
    max-width: 15rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 1.3rem;
    padding-bottom: -.2rem;
}

.btn:hover {
    cursor: pointer;
}

.attribution {
    margin-top: 4rem;
    text-align: center;
    color: var(--Dark-Desaturated-Blue);
}

@media (min-width:600px) {
    .sign-up {
        width: 600px;
        font-size: 1rem;
        }
    
        .pageviews {
            width: 100vh;
            display: flex;
            justify-content: flex-start;
            position: relative;
            left: 10rem;
    
        }
        .cost {
            position: relative;
            width: 350px; 
            left: 30rem;
            bottom: 10rem;
        }
    
        .dollar {
            font-size: 2.5rem;
        }
    
        .month {
            position: relative;
            bottom: .7rem;
        }
    
        .dis {
            display: block;
            padding-left: .2rem;
        }
    
        .billing {
            display: flex;
            font-size: .9rem;
            margin-top: -45px;
            position: relative;
            align-items: center;
            width: 100vh;
            right: -70px;
        }
    
        .yearly {
            display: flex;
        }
    
        .mini {
            size: .2rem;
            width:40px;
        }
    
        .discount {
            display: flex;
            font-size: .8rem;
            white-space: nowrap;
        }
    
        .bottom {
            display: flex;
            padding-left: 14rem;
        }
    
        .list {
            position: relative;
            font-size: .8rem;
            left: 1px;
        }
        .list ul {
            display: inline-block;
        }
        
        .list li {
            text-align: left;
            line-height: .5rem;
        }
    
        .btn {
            font-size: .8rem;
            min-height: .2rem;
            min-width: 13rem;
            text-align: center;
            vertical-align: middle;
            padding-bottom: 1rem;
            position: relative;
            right: 10px;
        }

}

@media (min-width: 1400px) {

    .pageviews {
        left: 25rem;

    }
    .cost {
        left: 55rem;
    }


    .month {
        position: relative;
        bottom: .7rem;
    }


    .billing {
        right: -400px;
    }


    .discount {
        display: flex;
        font-size: .8rem;
        white-space: nowrap;
    }

    .list {
        left: 250px;
    }

    .btn {
        right: -50px;
    }

}